.navbar {
    transition-property: opacity;
    transition-duration: 250ms;
    font-family: 'Nanum Gothic', sans-serif;
}

.navbar-hide {
    opacity: 0;
}

.navbar-brand {
    position: absolute;
    left: 0%;
}

.fa-facebook-square {
    color: blue;
}

.fa-instagram {
    color: salmon;
}

#aboutUsRow {
    background-size: 100%;
}

#aboutUsHeader {
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: black;
}

#aboutUsText {
    font-size: 2rem;
    font-family: 'Nanum Gothic', sans-serif;
    color: grey;
}

#aboutUsDiv {
    position: absolute;
    top: 25%;
}


