.navbar {
    transition-property: opacity;
    transition-duration: 250ms;
}

.navbar-hide {
    opacity: 0;
}

.navbar-brand {
    position: absolute;
    left: 0%;
}

#aboutUsRow {
    background-size: 100%;
}

#aboutUsHeader {
    font-size: 3rem;
}

#aboutUsText {
    font-size: 2rem;
}

#aboutUsDiv {
    color: whitesmoke;
    position: absolute;
    top: 25%;
}


